.hero-content {
  background: linear-gradient(90deg, #060606, #434343);
}

@media (min-width: 768px) {
  .hero-content {
    background: transparent;
    padding-left: 0px;
    margin-bottom: 26px;
    padding-right: 0px;
    margin-right: 265px;
  }
}

body {
  cursor: none;
}

@media (min-width: 1200px) {
  body {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media (min-width: 1400px) {
  body {
    padding-left: 75px;
    padding-right: 75px;
  }
}

svg {
}

@media (min-width: 768px) {
  svg {
    padding-top: 60px;
    margin-top: 3px;
  }
}

@media (min-width: 992px) {
  .hero-content {
    margin-right: 365px;
  }
}

.card-group {
}

@media (min-width: 768px) {
  .card-group {
    width: 400px;
  }
}

@media (min-width: 1400px) {
  .hero-content {
  }
}

@media (min-width: 1200px) {
  #about-section {
    padding-left: 149px;
    padding-right: 149px;
  }
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid #434343;
  border-radius: 50%;
  pointer-events: none;
  transition: .15s;
  cursor: none;
}

.cursor2 {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  left: auto;
  top: auto;
  pointer-events: none;
  position: fixed;
  transform: translateX(7px) translateY(7px);
  transition: .5s;
  cursor: none;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.nav-link.active {
  color: #060606;
}

.nav-link.active {
  color: #ffffff!important;
}

@media (min-width: 768px) {
  #footer {
    justify-content: space-between!important;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

#footer {
  justify-content: center;
  border-top: 2px solid #242425 ;
}

.about {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

@media (min-width: 992px) {
  .about {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .about {
    font-size: 17px;
  }
}

@media (min-width: 1400px) {
  .about {
    font-size: 18px;
  }
}

.about-section {
  padding-left: 18px;
  padding-right: 18px;
}

@media (min-width: 576px) {
  .about-section {
    padding-left: 18px;
  }
}

@media (min-width: 768px) {
  .about-section {
    padding-left: 66px;
    padding-right: 66px;
  }
}

@media (min-width: 992px) {
  .about-section {
    padding-left: 158px;
    padding-right: 158px;
  }
}

@media (min-width: 1200px) {
  .about-section {
    padding-left: 202px;
    padding-right: 202px;
  }
}

@media (min-width: 1400px) {
  .about-section {
    padding-left: 244px;
    padding-right: 244px;
  }
}

.mp1 {
}

@media (min-width: 768px) {
  .mp1 {
    padding-left: 34px!important;
  }
}

.mp2 {
}

@media (min-width: 768px) {
  .mp2 {
    padding-left: 68px!important;
  }
}

.mp3 {
}

@media (min-width: 768px) {
  .mp3 {
    padding-left: 102px!important;
  }
}

@media (min-width: 300px) {
  .mp1 {
    padding-left: 15px;
  }
}

@media (min-width: 300px) {
  .mp2 {
    padding-left: 30px;
  }
}

@media (min-width: 300px) {
  .mp3 {
    padding-left: 45px;
  }
}

.btn:hover {
  background-color: transparent!important;
  border-color: #ffffff!important;
}

#homebtn:hover {
  border-color: #060606!important;
  color: #060606;
}

#labp {
}

@media (min-width: 576px) {
  #labp {
    width: 72%!important;
  }
}

@media (min-width: 992px) {
  #labp {
    width: 50%;
  }
}

@media (min-width: 300px) {
  #labp {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #labp {
    width: 45%!important;
  }
}

@media (min-width: 930px) {
  .labborder {
    border-bottom-width: 0px;
  }
}

